extends layout

block content
  div(id="container")
    h1 ABI GOPAL
    br
    .social
      .twitter
        a(href="http://twitter.com/abi9d")
          i(class="icon-twitter-sign icon-4x")
      .blog
        a(href="http://writings.abigopal.com")
          i(class="icon-book icon-4x") 
      .github
        a(href="http://github.com/abigopal")
          i(class="icon-github-alt icon-4x")
    br
    br
    p.
      Hey, I'm Abi (pronounced UH-bee), short for Abinand, and I'm on my way to living the dream!
    p.
      <strong>Student.</strong> I currently live in Northern Virginia (the DC area) and am a full-time student in my senior year of high school. Come this fall, I will be relocating down south to Blacksburg, as I will be attending Virginia Tech, where I plan on studying computer science. 
    p.
     <strong>Developer.</strong> I love being on the edge of the tech scene. My specific computer science interests lie within everything that has to do with Node.js, database programming, computer algebra systems, and cortical learning algorithms. 
    p. 
      <strong>Writer</strong>. I occasionally write for fun and even publish some of it on my blog. I also read sometimes (mostly nonfiction). 
    p. 
    p. 
      <strong>tl;dr:</strong> I like learning new things and having fun. Hit me up via direct message on twitter or email me at agopal43[at]gmail[dot]com if you want to chat!
  br
  br
