extends layout

block content
  div(class="logo")
    h1 ABI GOPAL
    .social
      .blog
        a(href="http://blog.abigopal.com")
          i(class="icon-book icon-4x") 
      .twitter
        a(href="http://twitter.com/abi9d")
          i(class="icon-twitter-sign icon-4x")
      .github
        a(href="http://github.com/abigopal")
          i(class="icon-github-alt icon-4x")
