extends layout

block content
  div(id="container")
    h1 ABI GOPAL
    .social
      .twitter
        a(href="http://twitter.com/abi9d")
          i(class="icon-twitter-sign icon-3x")
      .blog
        a(href="http://blog.abigopal.com")
          i(class="icon-book icon-3x") 
      .github
        a(href="http://github.com/abigopal")
          i(class="icon-github-alt icon-3x")
    br
    p.
      Yo! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. 
    p. 
      Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. 
    p.
      Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. 
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
    
   img(src="http://i.imgur.com/YjY0UxJ.jpg", height="250", width="220")
