extends layout

block content
  div(id="container")
    p!="Send me <strong>encrypted</strong> messages!"
    p.  
      -----BEGIN PGP PUBLIC KEY BLOCK----- <br /> 
      Version: GnuPG/MacGPG2 v2.0.22 (Darwin) <br /><br /> 

      mQENBFO0cCcBCADP8E7o58Qi25NU2SAicjwBpOjKNmwpmEQCqM8/1ArNxTkjbh1I
      A9Oh/Hv36QTC+hoE0sCAQiBUXoR9kCbzCeBlbwHkqIV4JxQzemt+i3zDIgkvon1B
      VJgbEVoX63GOfsQm76FysadUNqJYXeMCGKPIC9TvxuSr2oJtQ/2u386kVOjGA0dh
      PpNtcvMnoecdNUdsee+5OSIbZyBXe/RkbLlBmMlREy+EWF5KYKb/ME4eBLAgYmr3
      Cs8ONOorMbyIohmhz/Rk3xNXXBKAGI6xVDEygSuMmoKIKVlgmOyNtcCf2085myfi
      IDhpOA9p0v7RQxxLYaespjS84RmEwM7wD8ApABEBAAG0HkFiaSBHb3BhbCA8YWdv
      cGFsNDNAZ21haWwuY29tPokBPQQTAQoAJwUCU7RwJwIbAwUJB4YfgAULCQgHAwUV
      CgkICwUWAgMBAAIeAQIXgAAKCRCj6eweC+qOQrEIB/9zEYoBok8GeaWbYDDUbhu3
      ZKKcLPvhzPu9LvyMnCb2GJGCC5xs4skaW6DCL/rAGgnoCeXxlSdpxoazbtYFE5mV
      XRE/98u7GQMKx5m87t6wFSGcMnILN7CqCx44LVw+RZlt77o61uDM407Gu2TdMLsR
      rPRcBepRZ/sPEcb+L/ico8HJFoA1nw+ewObfH8Uwk1NLTcCwDxavpY90oquW2FQ5
      wNj1Y36mnkUxk2MBqwBQ4ayLJMnjEc/DboZf77hlirmEXRBdl9uQOoPxvgtP79Ix
      JwHg4ykvNOtn/CZRnlYgYp74ntb+Ilp3Inn6xcCxC0bRIQIorvmzzImDW/FEoH/4
      uQENBFO0cCcBCADqF9IMfiFFV0OnlNSes1HXEg1JxZMIUPL2VrOeFzJGWLsNq68i
      tQBrgwkU14nBaaz0lhqAmcY9DwRGi6BDzMu++aaHAva2CrfDFNWyVoiwQRGg5w4g
      7LLLQEujISjr3F1my4HkOABdWHry+S/mCMoWcC0znLrDPuz5Hf4QiyjYPs/sT1ui
      qfykv11/6LKfIpao6makPfncAdQLL5Iq2mUHsLndxhmvprv2NpfC15zdadP1wQXj
      Hnga7UQA1Y/6gnort1WkG04ojq+jS7dP7t3qmwjXGpy80RAcC0j3pwGGOKgN+sue
      CsRwxyNHzeaorpgVVA8uOkRaFjLjprYgzlkTABEBAAGJASUEGAEKAA8FAlO0cCcC
      GwwFCQeGH4AACgkQo+nsHgvqjkJ1NAf/UYiUDWI/5U43Vtg9QDWPzBjTzZu+ooMF
      YnmHCbOVCzdaqBg4znLp95XQldHUTRiDNjz81gHK+nBmw3D8XQEJZIaM2jwxf5ai
      sJzI1TvZ8hsilY9gtCdL67Kcp0y4NWrSMOCOYVuMjMeZXXqqX9FwOkNz5XzGMFvf
      Ha7JVjrfAXESnl4MHantGbL13pCj5y6Q5RqKxZ4o2POC+0jWL4N28PS5lR41E3zy
      xCCoGowlNos8NMmVZwKnHEvoCcaToOpQrvy2mACYDghnQlam87ig/pocxzPrTGfi
      5uzmWrJ+tZNK0rlyUexmhQep4J1DHxa+CeWSSNg9PINsWkxl9pXi9Q==
      =Qd/J<br />
      -----END PGP PUBLIC KEY BLOCK-----
