body {
  background-color: #fff;
}
a {
  color: #00b7ff;
}
#container {
  width: 40em;
  margin: 3em auto;
}
#container h1 {
  text-align: center;
  font: 85px 'Open Sans';
  font-weight: 300;
  color: #545454;
  letter-spacing: 0.2em;
  margin: 0 auto;
}
#container p {
  text-align: left;
  font: 20px 'Lato';
  font-weight: 300;
  color: #545454;
  margin-bottom: 1.2em;
}
#container strong {
  font-weight: 700;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social {
  position: float;
  text-align: center;
  margin: 0 auto;
}
.social-icon,
.twitter,
.updates,
.github,
.blog {
  padding-right: 5em;
  display: inline-block;
}
.twitter {
  padding-left: 2em;
}
.blog a:hover {
  color: #ff8500;
}
.github a:hover {
  color: #f00;
}
.twitter a:hover {
  color: #4099ff;
}
.updates a:hover {
  color: #00a693;
}
.social a {
  color: #545454;
  text-decoration: none;
}
