text-color = hsl(0, 0%, 33%)// #242424
body
  background-color: hsl(0, 0%, 100%) // #ffffff // fafafa // #ffffff // #fafafa

a
  color: #00B7FF

#container
  width: 40em
  margin: 3em auto

#container h1
  text-align: center
  font: 85px 'Raleway', Helvetica, Arial, sans-serif
  font-weight: 400
  color: text-color
  letter-spacing: 0.20em
  margin: 0 auto

#container p
  text-align: left
  font: 20px 'Raleway'
  font-weight: 300
  color: text-color 
  margin-bottom: 1.2em

#container strong
  font-weight: 700
img
  display: block
  margin-left: auto
  margin-right: auto

.social
  position: float
  text-align: center
  margin: 0 auto

.social-icon
  padding-right: 5em
  display: inline-block

.twitter
  @extend .social-icon
  padding-left: 3em      

.github
  @extend .social-icon

.blog
  @extend .social-icon

.blog a:hover
  color: #FF8500

.github a:hover
  color: #FF0000

.twitter a:hover
  color: #4099FF

.social a
  color: text-color 
  text-decoration: none
